[Unit]
Description=Mihombreng Service
After=network.target

[Service]
ExecStart=/usr/share/mihombreng/mihombreng -c /etc/mihombreng/mihombreng.yaml
Restart=always
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target
